In [15]:
import pandas as pd
import datetime

In [27]:
july_seventeen = pd.read_csv("Data/201707-citibike-tripdata.csv")
july_seventeen

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1735594,560,2017-07-31 23:59:33,2017-08-01 00:08:53,3260,Mercer St & Bleecker St,40.727064,-73.996621,236,St Marks Pl & 2 Ave,40.728419,-73.987140,16126,Subscriber,1990.0,2
1735595,272,2017-07-31 23:59:35,2017-08-01 00:04:08,247,Perry St & Bleecker St,40.735354,-74.004831,434,9 Ave & W 18 St,40.743174,-74.003664,27684,Subscriber,1999.0,1
1735596,1211,2017-07-31 23:59:37,2017-08-01 00:19:49,3303,Butler St & Court St,40.684989,-73.994403,3308,Kane St & Clinton St,40.686176,-73.996453,28402,Subscriber,1975.0,2
1735597,547,2017-07-31 23:59:48,2017-08-01 00:08:56,276,Duane St & Greenwich St,40.717488,-74.010455,127,Barrow St & Hudson St,40.731724,-74.006744,30150,Subscriber,1992.0,1
1735598,1816,2017-07-31 23:59:57,2017-08-01 00:30:13,3091,Frost St & Meeker St,40.717640,-73.948820,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,19643,Customer,NaN,0

In [16]:
july_eighteen = pd.read_csv("Data/201807-citibike-tripdata.csv")
july_eighteen

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72,W 52 St & 11 Ave,40.767272,-73.993929,3236,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72,W 52 St & 11 Ave,40.767272,-73.993929,529,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72,W 52 St & 11 Ave,40.767272,-73.993929,453,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72,W 52 St & 11 Ave,40.767272,-73.993929,465,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72,W 52 St & 11 Ave,40.767272,-73.993929,3425,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913620,232,2018-07-31 21:15:17.6940,2018-07-31 21:19:09.9290,3697,W 64 St & Thelonious Monk Circle,40.775160,-73.989187,3158,W 63 St & Broadway,40.771639,-73.982614,29026,Subscriber,1969,1
1913621,321,2018-07-31 22:12:23.6970,2018-07-31 22:17:45.1930,3697,W 64 St & Thelonious Monk Circle,40.775160,-73.989187,499,Broadway & W 60 St,40.769155,-73.981918,19624,Subscriber,1995,1
1913622,2424,2018-07-31 22:51:01.9640,2018-07-31 23:31:26.0500,3697,W 64 St & Thelonious Monk Circle,40.775160,-73.989187,3697,W 64 St & Thelonious Monk Circle,40.775160,-73.989187,32953,Subscriber,1985,2
1913623,537,2018-07-31 23:11:19.1700,2018-07-31 23:20:16.7540,3697,W 64 St & Thelonious Monk Circle,40.775160,-73.989187,3434,W 88 St & West End Ave,40.790254,-73.977183,30010,Subscriber,1989,1
1913624,211,2018-07-31 23:18:55.2800,2018-07-31 23:22:26.4070,3697,W 64 St & Thelonious Monk Circle,40.775160,-73.989187,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,18363,Subscriber,1974,1

In [17]:
july_nineteen = pd.read_csv("Data/201907-citibike-tripdata.csv")
july_nineteen

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181059,644,2019-07-31 23:59:45.2950,2019-08-01 00:10:29.8640,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,19018,Subscriber,1964,1
2181060,589,2019-07-31 23:59:52.7170,2019-08-01 00:09:42.0870,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,15330,Subscriber,1997,1
2181061,1302,2019-07-31 23:59:52.8280,2019-08-01 00:21:35.1090,331.0,Pike St & Monroe St,40.711731,-73.991930,309.0,Murray St & West St,40.714979,-74.013012,39730,Subscriber,1966,2
2181062,353,2019-07-31 23:59:57.1130,2019-08-01 00:05:50.1350,3255.0,8 Ave & W 31 St,40.750585,-73.994685,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30149,Subscriber,1994,1
2181063,274,2019-07-31 23:59:57.4870,2019-08-01 00:04:32.2070,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,3134.0,3 Ave & E 62 St,40.763126,-73.965269,25344,Subscriber,1994,2

In [18]:
july_twenty = pd.read_csv("Data/202007-citibike-tripdata.csv")
july_twenty

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,341,2020-07-01 00:00:01.3020,2020-07-01 00:05:42.5650,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,33861,Subscriber,1986,1
1,321,2020-07-01 00:00:01.3620,2020-07-01 00:05:22.9490,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,31233,Subscriber,1990,2
2,2710,2020-07-01 00:00:06.6290,2020-07-01 00:45:17.3410,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,40329,Customer,1969,0
3,2685,2020-07-01 00:00:13.0220,2020-07-01 00:44:58.8640,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,17567,Subscriber,1998,1
4,191,2020-07-01 00:00:13.4660,2020-07-01 00:03:24.6230,3615,44 Dr & 21 St,40.748000,-73.946093,3127,9 St & 44 Rd,40.749660,-73.952100,43421,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.9250,2020-08-01 00:14:26.2540,217,Old Fulton St,40.702772,-73.993836,398,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Customer,1969,0
2105804,839,2020-07-31 23:59:51.7740,2020-08-01 00:13:50.9750,4044,8 Ave & W 38 St,40.754610,-73.991770,3163,Central Park West & W 68 St,40.773407,-73.977825,41797,Customer,2002,1
2105805,1042,2020-07-31 23:59:56.1460,2020-08-01 00:17:18.5090,3723,Cadman Plaza E & Johnson St,40.695317,-73.990157,350,Clinton St & Grand St,40.715595,-73.987030,24808,Subscriber,1974,1
2105806,699,2020-07-31 23:59:57.4310,2020-08-01 00:11:36.5420,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,504,1 Ave & E 16 St,40.732219,-73.981656,41486,Subscriber,1991,1
2105807,249,2020-07-31 23:59:58.7260,2020-08-01 00:04:08.2070,446,W 24 St & 7 Ave,40.744876,-73.995299,3259,9 Ave & W 28 St,40.749370,-73.999234,28699,Customer,1990,1

In [28]:
combined_data = pd.concat([july_seventeen, july_eighteen, july_nineteen, july_twenty], ignore_index=False)
combined_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293.0,Lafayette St & E 8 St,40.730207,-73.991026,3425.0,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,3397.0,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.9250,2020-08-01 00:14:26.2540,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Customer,1969.0,0
2105804,839,2020-07-31 23:59:51.7740,2020-08-01 00:13:50.9750,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Customer,2002.0,1
2105805,1042,2020-07-31 23:59:56.1460,2020-08-01 00:17:18.5090,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Subscriber,1974.0,1
2105806,699,2020-07-31 23:59:57.4310,2020-08-01 00:11:36.5420,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Subscriber,1991.0,1
2105807,249,2020-07-31 23:59:58.7260,2020-08-01 00:04:08.2070,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Customer,1990.0,1

In [29]:
combined_data ['Date'] = pd.to_datetime(combined_data['starttime']).dt.date
combined_data ['Time'] = pd.to_datetime(combined_data['starttime']).dt.time
combined_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date,Time
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1,2017-07-01,00:00:00
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293.0,Lafayette St & E 8 St,40.730207,-73.991026,3425.0,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1,2017-07-01,00:00:03
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,3397.0,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2,2017-07-01,00:00:08
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1,2017-07-01,00:00:11
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2,2017-07-01,00:00:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.9250,2020-08-01 00:14:26.2540,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Customer,1969.0,0,2020-07-31,23:59:48.925000
2105804,839,2020-07-31 23:59:51.7740,2020-08-01 00:13:50.9750,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Customer,2002.0,1,2020-07-31,23:59:51.774000
2105805,1042,2020-07-31 23:59:56.1460,2020-08-01 00:17:18.5090,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Subscriber,1974.0,1,2020-07-31,23:59:56.146000
2105806,699,2020-07-31 23:59:57.4310,2020-08-01 00:11:36.5420,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Subscriber,1991.0,1,2020-07-31,23:59:57.431000
2105807,249,2020-07-31 23:59:58.7260,2020-08-01 00:04:08.2070,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Customer,1990.0,1,2020-07-31,23:59:58.726000

In [30]:
combined_data.dropna()
combined_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date,Time
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1,2017-07-01,00:00:00
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293.0,Lafayette St & E 8 St,40.730207,-73.991026,3425.0,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1,2017-07-01,00:00:03
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,3397.0,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2,2017-07-01,00:00:08
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1,2017-07-01,00:00:11
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2,2017-07-01,00:00:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.9250,2020-08-01 00:14:26.2540,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Customer,1969.0,0,2020-07-31,23:59:48.925000
2105804,839,2020-07-31 23:59:51.7740,2020-08-01 00:13:50.9750,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Customer,2002.0,1,2020-07-31,23:59:51.774000
2105805,1042,2020-07-31 23:59:56.1460,2020-08-01 00:17:18.5090,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Subscriber,1974.0,1,2020-07-31,23:59:56.146000
2105806,699,2020-07-31 23:59:57.4310,2020-08-01 00:11:36.5420,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Subscriber,1991.0,1,2020-07-31,23:59:57.431000
2105807,249,2020-07-31 23:59:58.7260,2020-08-01 00:04:08.2070,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Customer,1990.0,1,2020-07-31,23:59:58.726000

In [31]:
combined_data['gender'].value_counts()

1    4982902
2    2038605
0     914589
Name: gender, dtype: int64

In [33]:
combined_data.to_csv("Data/CitiBike_Data.csv")